---
import type { GetStaticPaths } from "astro";
import { getPosts } from "@/lib/utils";
import PostPreview from "@/components/post-preview.astro";
import Layout from "@/layouts/default.astro";
import CategorySelector from "@/components/category-selector.astro";
import { getCategory } from "@/lib/utils";

export let getStaticPaths = (async ({ paginate }) => {
  let posts = await getPosts();
  let categories = new Set(posts.map((post) => getCategory(post.slug)).flat());

  return Array.from(categories).flatMap((category) => {
    return paginate(
      posts.filter((post) => getCategory(post.slug) === category),
      { pageSize: 10, params: { category } },
    );
  });
}) satisfies GetStaticPaths;

let { page } = Astro.props;
---

<Layout
  title="Unsere Aktionen"
  description="Erfahren Sie mehr über unsere zahlreichen Aktionen in Deutschland, Frankreich und der Schweiz."
  hasSidebar
  hasTitle
>
  <CategorySelector />

  {
    page.data.map((entry) => (
      <PostPreview
        title={entry.data.title}
        date={entry.data.created_at}
        url={entry.slug}
        thumbnail={entry.data.images?.[0].src}
        excerpt={entry.body.slice(0, 200)}
      />
    ))
  }

  <nav class="pagination">
    <p>Seite {page.currentPage} von {page.lastPage}</p>
    <ul>
      {
        page.url.prev && (
          <li>
            <a class="button" href={page.url.prev}>
              Zurück
            </a>
          </li>
        )
      }
      {
        page.url.next && (
          <li>
            <a class="button" href={page.url.next}>
              Weiter
            </a>
          </li>
        )
      }
    </ul>
  </nav>
</Layout>
