---
import type { HTMLAttributes } from "astro/types";
import { Picture } from "astro:assets";

export interface Props extends HTMLAttributes<"div"> {
  images: {
    src: string;
    alt?: string;
    caption?: string;
  }[];
  width: number;
  height: number;
  galleryId: string;
}

let { images, width, height, galleryId, class: className } = Astro.props;
---

<figure class:list={["grid grid-cols-3 gap-1", className]}>
  {
    images.map((image, index) => (
      <a
        href={image.src}
        data-fancybox={galleryId}
        data-caption={
          image.caption ? `Bild von der Aktion "${image.caption}"` : undefined
        }
        aria-label={
          image.caption
            ? `bild von der aktion "${image.caption.toLowerCase()}"`
            : `bild ${index + 1} von ${images.length}`
        }
        class="group aspect-square overflow-hidden bg-neutral-200 outline-none dark:bg-neutral-600"
      >
        <Picture
          src={image.src}
          formats={["avif", "webp"]}
          alt={image.alt || ""}
          width={width}
          height={height}
          itemtype="https://schema.org/ImageObject"
          itemscope
          itemprop="image"
          quality={80}
          class="h-full w-full object-cover transition-all duration-300 hover:scale-110 hover:opacity-70 group-focus-within:opacity-60 group-focus-visible:scale-110"
        />
      </a>
    ))
  }
</figure>

<script>
  import { Fancybox } from "@fancyapps/ui";
  import "@fancyapps/ui/dist/fancybox/fancybox.css";

  Fancybox.bind("[data-fancybox]", {
    Thumbs: false,
  });
</script>
