---
import { getCloudinaryUrl } from "@/lib/helpers";
import Image from "@/components/image.astro";

export interface Props extends astroHTML.JSX.HTMLAttributes {
  images: {
    src: string;
    category: string;
    alt?: string;
  }[];
  width: number;
  height: number;
  galleryId: string;
}

const { images, width, height, galleryId, class: className } = Astro.props;
---

<figure class="grid grid-cols-3 gap-1">
  {
    images.map((image) => (
      <a
        href={getCloudinaryUrl(`${image.category}/${image.src}`, "jpg", 1920)}
        data-fancybox={galleryId}
        class="overflow-hidden bg-yellow-600"
      >
        <Image
          src={image.src}
          category={image.category}
          width={width}
          height={height}
          alt={image.alt || ""}
          class="transition-all duration-300 hover:scale-110 hover:opacity-70"
        />
      </a>
    ))
  }
</figure>

<script>
  import { Fancybox } from "@fancyapps/ui";
  import "@fancyapps/ui/dist/fancybox/fancybox.css";

  Fancybox.bind("[data-fancybox]", {
    Thumbs: false,
  });
</script>
