---
import { Picture } from "astro:assets";
import { formatDate } from "@/lib/utils";

export interface Props {
  title: string;
  url: string;
  excerpt: string;
  date: Date;
  thumbnail?: string;
}

const { title, url, excerpt, date, thumbnail } = Astro.props;
---

<article class="box mb-8 flex p-0">
  {
    thumbnail && (
      <figure class="aspect-square w-1/3 flex-shrink-0">
        <Picture
          src={thumbnail}
          formats={["avif", "webp"]}
          alt={title}
          width={400}
          height={400}
          quality={80}
          class="h-full object-cover"
          pictureAttributes={{ class: "bordered h-full" }}
        />
      </figure>
    )
  }

  <div class="p-8">
    <h2 class="h2">
      <a
        class="transition-colors hover:text-yellow-600"
        href={`/aktionen/${url}`}>{title}</a
      >
    </h2>

    <time datetime={date.toISOString()}>
      Veröffentlicht am {formatDate(date)}
    </time>

    <p class="my-4">{excerpt}...</p>

    <a class="btn btn-primary" href={url}>Weiterlesen</a>
  </div>
</article>
