---
import type { GetStaticPaths } from "astro";
import { getPosts } from "@/lib/utils";
import PostPreview from "@/components/post-preview.astro";
import Button from "@/components/button.astro";
import Layout from "@/layouts/default.astro";
import CategorySelector from "@/components/category-selector.astro";
import { getPostExcerpt, getPostThumbnail } from "@/lib/helpers";

export let getStaticPaths = (async ({ paginate }) => {
  let posts = await getPosts();

  return paginate(posts, { pageSize: 10 });
}) satisfies GetStaticPaths;

let { page } = Astro.props;
---

<Layout
  title="Unsere Aktionen"
  description="Erfahren Sie mehr über unsere zahlreichen Aktionen in Deutschland, Frankreich und der Schweiz."
  hasSidebar
  hasTitle
>
  <CategorySelector />

  {
    page.data.map((entry) => (
      <PostPreview
        title={entry.data.title}
        date={entry.data.created_at}
        url={entry.slug}
        thumbnail={getPostThumbnail(entry)}
        excerpt={entry.body.slice(0, 200)}
      />
    ))
  }

  <nav class="pagination">
    <p>Seite {page.currentPage} von {page.lastPage}</p>
    <ul>
      {
        page.url.prev && (
          <li>
            <Button variant="primary" href={page.url.prev}>
              Zurück
            </Button>
          </li>
        )
      }
      {
        page.url.next && (
          <li>
            <Button variant="primary" href={page.url.next}>
              Weiter
            </Button>
          </li>
        )
      }
    </ul>
  </nav>
</Layout>
