---
import { Picture } from "astro:assets";
import type { GetStaticPaths } from "astro";
import Layout from "@/layouts/default.astro";
import { getPosts, formatDate } from "@/lib/utils";
import Ribbon from "@/components/ribbon.astro";
import Gallery from "@/components/gallery.astro";

export let getStaticPaths = (async () => {
  let posts = await getPosts();

  return posts.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}) satisfies GetStaticPaths;

let { entry } = Astro.props;
let { Content } = await entry.render();
---

<Layout
  title={entry.data.title}
  description={entry.body.slice(0, 150)}
  hasSidebar
  hasBackground
>
  {
    entry.data.images ? (
      <figure class="-m-4">
        <Picture
          src={entry.data.images[0].src}
          formats={["avif", "webp"]}
          alt={entry.data.images[0].alt || ""}
          width={1000}
          height={600}
          quality={80}
          loading="eager"
          pictureAttributes={{ class: "bordered" }}
        />
      </figure>
    ) : null
  }

  <header
    class="relative mx-12 -mt-24 mb-8 flex flex-col items-center space-y-4 bg-white p-8 text-center"
  >
    <Ribbon variant="light">Kinder</Ribbon>
    <h1 class="h1 mb-4">{entry.data.title}</h1>
    <time datetime={entry.data.created_at.toISOString()}>
      Veröffentlicht am {formatDate(entry.data.created_at)}
    </time>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 9.538 6.882"
      width="42"
      height="42"
      aria-hidden="true"
      class="mx-auto"
    >
      <path
        d="M.757 4.31s.457.41.928.41l-.209.214C.902 4.281 0 5.091 0 5.091s.458.41.929.41l-.14.143c-.66.15-.73 1.172-.73 1.172s.986-.074 1.132-.754l.14-.146c0 .487.397.96.397.96s.783-.93.153-1.526l.21-.214c0 .486.396.96.396.96s.783-.931.15-1.527l.21-.214c0 .487.397.96.397.96s.783-.93.153-1.526l.21-.214c0 .486.396.96.396.96s.783-.931.154-1.527l.613-.635.617.635c-.63.596.15 1.53.15 1.53s.398-.474.398-.96l.209.213c-.633.596.15 1.53.15 1.53s.397-.474.397-.96l.21.214c-.633.595.15 1.526.15 1.526s.397-.47.397-.96l.209.214c-.632.595.15 1.527.15 1.527s.398-.474.398-.96l.14.142c.145.683 1.132.754 1.132.754s-.071-1.021-.727-1.172l-.14-.145c.47 0 .928-.41.928-.41s-.9-.81-1.476-.16l-.21-.213c.472 0 .93-.41.93-.41s-.903-.81-1.48-.157l-.206-.214c.471 0 .926-.41.926-.41s-.9-.81-1.476-.159l-.21-.214c.472 0 .93-.41.93-.41s-.903-.81-1.477-.156l-.616-.635L6.66.415 6.257 0 4.77 1.537 3.286 0l-.402.418 1.487 1.537-.614.635c-.574-.65-1.476.159-1.476.159s.457.407.928.41L3 3.373c-.574-.65-1.476.157-1.476.157s.458.41.929.41l-.21.214C1.67 3.5.768 4.31.768 4.31z"
        fill="currentColor"></path>
    </svg>
  </header>

  <div class="prose max-w-none">
    <Content />
  </div>

  {
    entry.data.images ? (
      <Gallery
        class="mt-6"
        images={entry.data.images}
        galleryId="post"
        width={400}
        height={400}
      />
    ) : null
  }
</Layout>
