---
import BaseLayout from "./base-layout.astro";
import Sidebar from "../components/sidebar.astro";
import Image from "../components/image.astro";
import Ribbon from "../components/ribbon.astro";
import Gallery from "../components/gallery.astro";
import { formatDate, getCategoryFromUrl } from "../helpers";

const {
  frontmatter: { title, description, images, date },
} = Astro.props;
const category = getCategoryFromUrl(Astro.url.pathname);
---

<BaseLayout title={title} description={description}>
  <div class="container main">
    <main class="box large">
      {
        images?.length > 0 && (
          <figure class="thumbnail">
            <Image src={images[0]} category={category} width={1000} height={500} alt={title} loading="eager" />
          </figure>
        )
      }

      <header class:list={["header", "centered", { "has-thumbnail": Boolean(images) }]}>
        <Ribbon variant="light">{category}</Ribbon>
        <h1 class="title">{title}</h1>
        <time datetime={date} class="date">
          Veröffentlicht am {formatDate(date)}
        </time>
      </header>

      <slot />

      {
        images?.length > 0 && (
          <Gallery
            images={images.map((src: string) => ({ src, category }))}
            width={300}
            height={200}
            galleryId="post"
            class="gallery"
          />
        )
      }
    </main>
    <Sidebar />
  </div>
</BaseLayout>

<style>
  .main {
    margin-block: 3rem;
    display: grid;
    grid-template-columns: 1fr 20.625rem;
    gap: 0 1.5rem;
    place-items: start;
  }

  .title {
    font-size: clamp(24px, calc(2vw + 1rem), 36px);
    margin-bottom: 0.5rem;
    grid-column: span 2;
  }

  .thumbnail {
    margin: -1.5rem -4rem 0 -4rem;
  }

  .header {
    padding: 3rem 2rem;
    background: white url(/leafs.svg) no-repeat center bottom;
    background-size: 40px;
    margin-bottom: 2rem;
  }

  .header:where(.has-thumbnail) {
    transform: translateY(-7rem);
    border-radius: 2px;
    position: relative;
    margin-bottom: -4rem;
  }

  .header:where(.has-thumbnail)::before,
  .header:where(.has-thumbnail)::after {
    content: "";
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.8);
    z-index: -1;
  }

  .header:where(.has-thumbnail)::before {
    inset: calc(-2px - 1.5rem) calc(2px - 1.5rem);
  }

  .header:where(.has-thumbnail)::after {
    inset: -1.5rem;
  }

  .title {
    margin-block: 1rem 0;
    font-size: 28px;
  }

  .date {
    font-size: 14px;
  }

  .gallery {
    margin-top: 2rem;
  }

  @media (max-width: 62.5rem) {
    .main {
      grid-template-columns: 1fr;
      gap: 1.5rem;
    }

    .title {
      grid-column: 1;
      margin-bottom: 0;
    }
  }
</style>
